h1{
	color: #FB8122;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}
table{
	padding: 10px;
	border-radius: 5px;

}
.yyy {
	background-color: #1BA098;
	}

 .yyy {
		background-color: #DEB992;
	}
.bbb{
	background-color: #438945;
}
.vvv {
	background-color: #8AA899;
}

